{% extends 'users/dashboard_admin.html' %}
{% block content %}
<div class="container mt-4" style="max-width: 500px;">
    <div class="mb-3">
        <a href="{% url 'productos:gestion_productos' %}" class="btn btn-link p-0" style="font-size: 1.5rem; text-decoration: none;">
            &#8592;
        </a>
    </div>
    <h2>Agregar categoría</h2>
    {% if mensaje %}
        <div class="alert {% if 'correctamente' in mensaje %}alert-success{% else %}alert-danger{% endif %} mt-3">{{ mensaje }}</div>
    {% endif %}
    <form method="post" class="mb-4">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
        </div>
        <button type="submit" class="btn btn-primary">Agregar categoría</button>
    </form>
    
</div>
{% endblock %}
