{% extends 'base.html' %}
{% block sidebar_menu %}
<div class="nav-section">Mi Cuenta</div>
<div class="sidebar">
    <h4>Mi cuenta</h4>
    
    <nav class="sidebar__nav">
    <div class="nav-section">Principal</div>

    <a href="{% url 'users:dashboard_cliente' %}" class="nav-link">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6-.354.354.708.708L3 7.207V13.5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5V7.207l.646.647.708-.708-.354-.354-6-6zM13 7.207V13.5a.5.5 0 0 1-.5.5h-2v-3.5A.5.5 0 0 0 10 10H6a.5.5 0 0 0-.5.5V14h-2a.5.5 0 0 1-.5-.5V7.207l5-5 5 5z"/>
      </svg>
      Inicio
    </a>
    <div class="nav-section">Funcionalidades</div>
    <a href="{% url 'users:password_change' %}" class="nav-link">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5z"/>
      </svg>
      Cambiar Contraseña
    </a>
  </nav>
</div>
{% endblock %}

{% block content %}
<div class="main-content">
    {% if request.user.first_name %}
        <h2>Bienvenido/a, {{ request.user.first_name }}</h2>
    {% else %}
        <h2>Bienvenido/a</h2>
    {% endif %}
    <p>Desde aquí puedes gestionar tu cuenta y acceder a las funcionalidades disponibles.</p>
</div>
{% endblock %}
<style>
.sidebar {
  border-right: 1px solid #ddd;
  height: 100vh;
}
</style>